<form action="#">
  <label for="match_player[name]">Edit name:</label>
  <input 
    phx-blur="update_name"
    phx-target={ @myself }
    type="text" 
    name="match_player[name]" 
    value={ @match_player.name }
    class="inline-block mb-2"
   />
</form>
