<h1 class="header-medium" data-test="user-confirmation-page-header">Confirm account</h1>

<.form let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>
  <.button
    link_type="button"
    class="w-full mb-4"
    color="primary"
  >Confirm my account</.button>
</.form>

<p>
  <%= link "Register", to: Routes.user_registration_path(@conn, :new) %> |
  <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
</p>
