.drawer {
  @apply fixed right-0 left-0 bottom-0 px-4 pb-2 border-t-2 border-gray-800 bg-gray-100 rounded-lg;

  transition: transform .2s linear;
}

.drawer.closed {
  transform: translateY(calc(100% - 2rem));
}

.drawer-handle {
  display: flex;
  align-items: center; justify-content: center;
  width: 100%; height: 2rem;
  position: relative; z-index: 2;
}

.drawer-handle:hover {
  cursor: pointer;
}
