<h1 class="sr-only">Play game</h1>

<div>
  <%= for hole <- @game.holes do %>
    <div class="block mb-2 rounded bg-gray-100">
      <p class="font-bold">Hole <%= hole.position %></p>
      <p>Par <strong class="font-bold"><%= hole.par %></strong></p>
    </div>
  <% end %>
</div>
